/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mainContainer {
  width: 25%;
  height: 60%;
  position: absolute;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 8px;
  padding: 10px;
  background-color: white;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  max-height: 60%;
}

@media screen and (max-width: 1150px) {

  #divNoteList {
    left: 3%;
    top: 12%;
    width: 40%;
    height: 75%;
  }

  #divNoteContents {
    left: 44%;
    top: 12%;
    width: 50%;
    height: 75%;
  }

  #divNoteContents1 {
    left: 17%;
    top: 16%;
    width: 65%;
    height: 65%;
  }
}

@media screen and (max-width: 750px) {

  #divNoteList {
    left: 3%;
    top: 9%;
    height: 35%;
    min-height: 35%;
    max-height: 35%;
    width: 90%;
    overflow-y: auto;
  }

  #divNoteContents {
    left: 3%;
    top: 46%;
    height: 45%;
    min-height: 45%;
    max-height: 45%;
    width: 90%;
    overflow-y: auto;
  }

  #divNoteContents1 {
    left: 3%;
    top: 25%;
    height: 45%;
    min-height: 45%;
    max-height: 45%;
    width: 90%;
    overflow-y: auto;
  }
}

