.toolbar {
  height: 60px;
  margin: -7px;
  display: flex;
  align-items: center;
  background-color: #0faff0;
  color: white;
  font-weight: 600;
}

.space {
  flex: 1;
}

.appTitle {
  font-family: Garamond;
  font-size: x-large;
  font-weight: normal;
}

.appLinks {
  font-family: Garamond;
  font-size: 20px;
  font-weight: normal;
}

.link {
  text-decoration: none;
  color: white;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
