<mat-card class="noteItem">
  <mat-card-header>
    <div *ngIf="note.IsTodo">
      <a [routerLink]="[ '/todo', note.Id]" class="link" id="lnkToDo">
        {{note.NoteTitle}}
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div style="float:right">
          <mat-icon title="To Do List">list</mat-icon>
        </div>
      </a>
    </div>
    <div *ngIf="!note.IsTodo">
      <a [routerLink]="[ '/textnote', note.Id]" class="link" id="lnkTextNote">
        {{note.NoteTitle}}
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div style="float:right">
          <mat-icon title="Note">note</mat-icon>
        </div>
      </a>
    </div>
  </mat-card-header>
</mat-card>
